<!DOCTYPE html>
<html>
<head>
    <title>Télécharger des photos</title>
</head>
<body>
    <h1>Télécharger des photos</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="animal-select">Choisissez un animal :</label>
        <select name="animal" id="animal-select">
            <option value="Castor">Castor</option>
            <option value="Chat">Chat</option>
            <option value="Chien">Chien</option>
            <option value="Coyote">Coyote</option>
            <option value="Ecureuil">Ecurueil</option>
            <option value="Lapin">Lapin</option>
            <option value="Loup">Loup</option>
            <option value="Lynx">Lynx</option>
            <option value="Ours">Ours</option>
            <option value="Puma">Puma</option>
            <option value="Rat">Rat</option>
            <option value="Raton laveur">Raton laveur</option>
            <option value="Renard">Renard</option>
        </select>
        <input type="file" name="photos" multiple>
        <input type="submit" value="Envoyer">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
